body{
    background-color:#efeeec;
}

h1{
    color:#171d3a;
}

h2{
    color:#171d3a;
}

h3{
    color:#171d3a;
}

h4{
    color:#171d3a;
}

p{
    color:#171d3a;
}

.lightBG{
    background:#e5e9fd;
}